/* Global styles {*/
    html {
        height: 100%;
        font-size: 12px;
    }
    body {
        font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 1em;
        min-height: 100% !important;
        height: 100% !important;
        margin: 0px;
        padding: 0px;
        /* background-color: #eeeeee; */
    }
    /* Text styles { */
        .tiny {
            font-size: 0.5em;
        }
        .small {
            font-size: 0.9em;
        }
        .large {
            font-size: 1.5em;
        }
        .huge {
            font-size: 2.5em;
        }
        .center {
            text-align: center !important;
        }
        .normal {
            font-weight: normal;
        }
        .bold {
            font-weight: bold;
        }
        .underline {
            text-decoration: underline;
        }
        .strikethrough {
            text-decoration: line-through;
        }
        .italic {
            font-style: italic;
        }
        .red {
            color: #cc0000;
        }
    /* } */
    /* Positional styles { */
        .left {
            float: left;
        }
        .right {
            float: right;
        }
        .centered {
            display: block;
            margin: inherit auto;
        }
        .clear {
            clear: both;
        }
    /* }*/
/* }*/
/* Index  { */
    #wrapper {
        /* display: block; */
        /* position: relative; */
        min-height: 100%;
        height: 100%;
        margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
    }
    #footer, #push {
        height: 30px; /* #push must be the same height as #footer */
    }
    #header {
        margin-bottom: 30px;
        min-width: 960px;
        width: 100%;
        -moz-box-shadow: 10px 0px 40px rgba(0,0,0,0.7);
        -webkit-box-shadow: 10px 0px 40px rgba(0,0,0,0.7);
        box-shadow: 10px 0px 40px rgba(0,0,0,0.7);
    }
    #footer {
        color: #aaaaaa;
        width: 960px;
        margin: 0px auto;
        line-height: 30px;
        text-align: center;
    }
    #products_wrapper {
        width: 960px;
        margin: 0px auto;
    }
    .product, .product div {
        overflow: hidden;
    }
    .product div {
        margin: 0px;
        padding: 0px;
    }
    .product {
        margin: 12px;
        float: left;
        width: 450px;
        height: 200px;
        background-color: #f0f0f0;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(240, 240, 240)), to(rgb(210, 210, 210)));
        background-image: -webkit-linear-gradient(top, rgb(240, 240, 240), rgb(210, 210, 210));
        background-image: -moz-linear-gradient(top, rgb(240, 240, 240), rgb(210, 210, 210));
        background-image: -o-linear-gradient(top, rgb(240, 240, 240), rgb(210, 210, 210));
        background-image: -ms-linear-gradient(top, rgb(240, 240, 240), rgb(210, 210, 210));
        background-image: linear-gradient(top, rgb(240, 240, 240), rgb(210, 210, 210));
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f0f0f0', EndColorStr='#d2d2d2');

        border: 1px solid #aaaaaa;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .product .left_panel {
        float: left;
        width: 150px;
        background-color: rgba(0,0,0,0.07);
    }
    .product .right_panel {
        border-left: 1px solid #aaaaaa;
        float: right;
        width:  299px;
        /* background-color: rgba(0,0,0,0.4); */
    }
    .product .title {
        height: 50px;
        width: 100%;
        line-height: 50px;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        /* background-color: rgba(255,0,0,0.2); */
    }
    .product .logo_wrapper {
        height: 150px;
        width: 100%;
        /* background-color: rgba(0,255,0,0.2); */
    }
    .product .logo {
        margin: 11px;
        height: 128px;
        width: 128px;
        /* background-color: rgba(0,255,0,0.2); */
    }
    .product .information {
        padding: 10px;
        height: 130px;
        width: 279px;
        color: #444444;
        font-size: 1.1em;
        /* background-color: rgba(0,0,255,0.2); */
    }
    .product .availability {
        height: 50px;
        width: 100%;
        text-align: right;
        border-top: 1px solid #aaaaaa;
        /* background-color: rgba(255,255,0,0.2); */
    }
    /* .product .availability a:last-child { */
    /*     margin-right: 0px; */
    /* } */
    .product .availability a {
        display: inline-block;
        margin: 5px 10px 5px 0px;
        width: 40px;
        height: 40px;
        /* background-color: rgba(255,255,0,0.2); */
    }
    .product .availability a.unavailable {
        opacity: 0.2;
    }
    .product .availability [platform=github] {
        background-image: url(/static/img/github_40x40.png);
    }
    .product .availability [platform=ios] {
        background-image: url(/static/img/ios_40x40.png);
    }
    .product .availability [platform=android] {
        background-image: url(/static/img/android_40x40.png);
    }
    .product .availability [platform=chrome] {
        background-image: url(/static/img/chrome_40x40.png);
    }

    /* fiDeux */
    #fideux .logo {
        background: url(/static/img/fideux_128x1128.png) no-repeat;
    }


    .qtip-titlebar {
        padding: 5px 10px !important;
    }
    .qtip-title, .qtip-content {
        text-align: center !important;
    }
