<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Fickle Mills . Ever-changing software</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/master.css" rel="stylesheet" media="screen">
    <link href="/static/css/master_1.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/master.js"></script>
  </head>
  <body>
    <div id="wrapper">
        <img id="header" src="/static/img/header_3000x1500.png" alt="" />
        <div id="products_wrapper">
            <div id="fideux" class="pruduct_wrapper">
                <div class="icon left"></div>
                <div class="information">
                    <h1 class="heading
                        left">Fi<span class="red">Deux</span>
                    </h1>
                    <div class="availability_wrapper right">
                        <a href="http://goo.gl/GDKSY" target="_blank" class="distributor chrome new">
                            <div class="banner"></div>
                        </a>
                        <div class="distributor ios soon">
                            <div class="banner"></div>
                        </div>
                        <div class="distributor google-play soon">
                            <div class="banner"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <p class="description">
                        FiDeux is a GTD application that uses TeuxDeux as a
                        backend. Currently, we have a Google Chrome extension.
                        FiDeux for iOS and Android is underway, though. We are also
                        looking into making a Firefox Add-on that may or may not be
                        available in Q1 2012. Check back later. :)
                    </p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="push"></div>
    </div>
    <div id="footer">
        <span class="small bold">Fickle Mills &copy; 2012</span>
    </div>
  </body>
</html>
